
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ech-catering-section {
    padding-top: 200px;
    padding-bottom: 60px;
  }
  .hnf-o h2{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 30px;

  }
  #pfg-menu{
    font-weight: 800;
    font-size: 20px;
  }
  .img-gnhct {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .img-gnhct img {
    width: 100%;
    height: 100%;
  }
  
  .ridn-ng {
    display: flex;
  }
  
  .text-bm {
    padding-left: 20px;
    display: inline-block;
    width: 500px;
  }
  .text-bm span {
    font-family: 'Inter', sans-serif;
     font-weight: 800;
     font-size: 18px;  
  }
  .text-bm p{
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
  }

  .payment-df p{
     font-size: 14px;
  }

  .email-for-us{
    font-family: 'Inter', sans-serif;
    border-radius: 4px;
    border: none;
    font-size: medium;
     padding: 10px 40px 10px 40px;
  }


















  @media (max-width: 767px) {


    .email-for-us {
        cursor: pointer;
        margin-top: 30px;
        font-family: 'Inter', sans-serif;
        border-radius: 4px;
        border: none;
        font-size: medium;
        padding: 10px 0px 10px 7px;
    }
    #amb{
        text-decoration: none;
        color: #0000;
    }

    .ridn-ng {
      flex-direction: column;
    }
  
    .text-bm, .img-gnhct {
      width: 100%;
      margin-left: 0;
    }
  
    .img-gnhct {
      margin-top: 20px;
    }
  }
  